.conteiner {
  margin: 0 auto;
  position: relative;
  .card {
    padding: 6px;
    font-size: 0;
    &:hover {
      transition: 0.5s;
      opacity: 0.6;
      .underBox {
        font-size: 16px;
        overflow-wrap: break-word;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 16px 24px;
        box-sizing: border-box;
        color: #fff;
        background-color: #ff385c;
        transform: none;
        transition: 0.5s;
        border-radius: 1px;
      }
    }
  }
}
