.conteiner {
  margin: 0 auto;
  .card {
    padding: 6px;
    &:hover {
      transition: 0.5s;
      opacity: 0.6;
    }
    div {
      margin: 0;
      padding: 0;
    }
    h2 {
      overflow-wrap: break-word;
    }
  }
}
