.container {
  flex: 1;
  padding: 100px 24px 4px 24px;
  height: 100%;

  h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.043em;
    span {
      color: #ff385c;
    }
  }
  .btn {
    background-color: #ff385c;
    border-radius: 50px;
    color: #fff;
    outline: none;
    display: block;
    margin: 20px auto;
    padding: 14px;
    width: 200px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    // box-shadow: 0 4px 14px 0 rgb(0 0 0);
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .modal {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    height: 600px;
    border: 1px solid #f0f0f0;
    padding: 16px;
    background-color: #f7f7f7;
  }
}

.secondaryBtn {
  background-color: grey;
  border-radius: 50px;
  color: #fff;
  outline: none;
  display: block;
  margin: 0px auto;
  padding: 14px;
  width: 150px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
