.container {
  flex: 1;
  padding: 50px 24px 4px 24px;
  height: 100%;

  h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.043em;
    span {
      color: #ff385c;
    }
  }
  .modal {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1400px;
    height: 600px;
    border: 1px solid #f0f0f0;
    padding: 16px;
    background-color: #f7f7f7;
  }
}
