.container {
  display: flex;
  flex-wrap: wrap;
  .box {
    justify-content: space-between;
    margin: 20px;
    padding: 6px;
    text-align: center;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
      transition: 0.5s;
    }
    Text {
      overflow-wrap: break-word;
    }
  }
}
