.btn {
  background-color: #ff385c;
  border-radius: 50px;
  color: #fff;
  outline: none;
  display: block;
  margin: 100px auto;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  border: none;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.secondaryBtn {
  background-color: grey;
  border-radius: 50px;
  color: #fff;
  outline: none;
  display: block;
  margin: 100px auto;
  padding: 16px;
  width: 150px;
  font-size: 16px;
  border: none;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
